*{
    box-sizing: border-box;
}
body html{
    min-width: 100vw;
}

body{
    background-color: black;
    font-family: 'Fredoka', sans-serif;
    background-image: url(../media/tableclothBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main{
    background-color: rgb(249, 216, 77);
    opacity: .8;
    border-radius: 50px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#container{
    margin:0 5% 7% 7%;
    text-align: center;
    padding: 2% 2% 5% 2%;
}

figure{
    width: 17vw;
    float: left;
    margin: 0 1% 0 1%;
}
figure img{
    display: inline-block;
    vertical-align: middle;
    object-position: center;
    object-fit: contain;
    border-radius: 50px;
    width: 100%;
    margin: none;
} 
.pic:hover{
    transform: scale(1.25,1.25);
    box-shadow: 3px 3px black;
    background-color: white;
    border-radius: 70px;
    padding: 20px;
}
figcaption{
    padding: 5% 10% 0 13%;
    margin-bottom: 10%;
}
#open{
    font-size: 2em; 
    cursor:pointer; 
    color: black; 
    text-align: right; 
    text-shadow: none;
    padding: 1% 5% 0 0;
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(54, 59, 62);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: .5s;
    padding-top: 10px;
    list-style-type: none;
    opacity: .8;
    border-radius: 50px;
    padding-left: 1%;
}
.closebtn{
    font-size: 3em;
    color: rgb(249, 216, 77);
}
.directions{
    color: white;
    font-size: 1em;
    padding: 8px;
}
.gameTitle{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: underline;
    font-size: 1em;
}
.instructions{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5em;
    text-shadow: none;
}
h1{
    text-shadow: 3px 3px #CA3A2F;
    text-align: center;
    color: white;
    font-size: 2em;
    margin: -40px auto 0 auto;
}
h2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600; 
}
h3{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    line-height: .15em;

}

footer{
    margin: 10% auto 10% auto;
    text-align: center;
    color: white;
    clear: both;
    width: fit-content;
    height: 15px;
    border-radius: 50px;
    padding-bottom: 2%;
}
#footer:link, #footer:visited{
    display: block;
    background-color: white;
    color: black;
    text-decoration: none;
}
#footer:hover, #footer:active{
    display:block;
    background-color:black;
    color:white;
}


@media only screen and (max-width:600px) {
    .main{
        width: 90vw;
    }
    #container{
        margin-left: .5%;
    }
    figure{
        width: 100%;    
    }
    figure img{
        width: 85%;
        margin-right: 3px;
        padding: 10px 10px 10px 0px;
    }
    figcaption{
        font-size: .85em;
        padding: 0px 0px 10px 0px;
    }
    h1{
        font-size: 1.65em;
        text-shadow: 2px 2px rgb(249, 216, 77);
    }
    h2{
        font-size: 1.25em;
    }
    h3{
        font-size: 1em;
    }
    footer{
        font-size: .75em;
    }
    #open{
        font-size: 2em;
    }
    .sidenav{
        padding-top: 25px;
    }
    .closebtn{
        font-size: 2em;
    }
    .directions{
        font-size: .75em;
        padding: 3px;
    }
    .gameTitle{
        font-size: 1.35em;
        line-height: .5em;
    }
    .instructions{
        font-size: 1.6em;
        line-height: .5em;
        padding-bottom: 2%;
    }
}