*{
    box-sizing: border-box;
}
body{
    background-color: #A8170F;
}
section{
    background-color: white;
    border-radius: 25px;
    border: 12px dotted #CA3A2F;
    min-width: 100%;
    min-height: 80%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5% auto .5% auto;
    text-align: center;
    vertical-align: middle;
}
h1{
    font-size: 1.1em;
    line-height: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
p{
    line-height: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#controls{
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 200px;
    width: 100px;
    line-height: 10%;
}
#up, #down{
    margin-left: 20px;
}
canvas{
    background-color: rgb(106, 140, 92);
    border: 15px solid transparent;
    padding: 15px;
    border-image-source: url(../media/tableclothBackground.jpg);  
    border-image-repeat: round;
    border-image-slice: 25;
}
footer{
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    clear: both;
    width: fit-content;
    height: 20px;
    border-radius: 10px;
}
#footer:link, #footer:visited{
    display: block;
    background-color: white;
    color: black;
    text-decoration: none;
}
#footer:hover, #footer:active{
    display:block;
    background-color:black;
    color:white;
}
/* grid classes */	
.top{grid-area: t;}
.bottom{grid-area: b;}
.left{grid-area: l;}
.middle{grid-area: mid;}
.right{grid-area: r;}
/* default grid container*/
.grid-container{
	display: grid;
	grid-template-rows: max-content; /* sets size of row to largest element of row */
	grid-template-areas: 
	't t t t t t'
	'l l mid mid r r'
	'b b b b b b';
}
/* mobile grid container */
@media (max-width:750px) {
	.grid-container{
		grid-template-areas: 
		't t t t t t'
		'l l l l l l'
		'mid mid mid mid mid mid'
		'r r r r r r'
		'b b b b b b';
	}
	
}