/****** Colors Used: yellow: rgb(249, 216, 77), light green: rgb(193, 220, 44), bright green: rgb(111, 161, 0), dark green: rgb(38, 93, 0), dark red: #A52119, bright red: #CA3A2F, pinkish red: #CE6D68, light pinkish red: #D7A4A2, whitish: #E0E7E8 rgb(204, 215, 228) ******/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Barlow Condensed', sans-serif;
  overflow-x: hidden;
}
/****** Page Background ******/
body {
  width: 100%;
  background-image: url(../media/tableclothBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(249, 216, 77);
  padding: 3%;
}

/****** Center and Style Game ******/
.container {
  background-color: white;
  border-radius: 25px;
  border: 12px dotted #CA3A2F;
  min-width: 100%;
  min-height: 80%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: .5% auto .5% auto;
  text-align: center;
  vertical-align: middle;
}

/******styling game message section with animation******/
.msgContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#msg{
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: move 5s ease;
  background-image: linear-gradient( 68.7deg,  black 13.2%, rgb(111, 161, 0) 29.8%, rgb(150, 0, 139) 48.9%, #CA3A2F 68.2%, rgb(249, 216, 77) 86.4% );
}

@keyframes move {
  0%,100%{
      background-position: 200% 0%;
  }

  50%{
      background-position: 0% 200%;
  }
}
/******styling header/gameInfo area******/
h1{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.75em; 
  font-weight: 200;
  font-style: italic;
  text-shadow: 1px 1px #CA3A2F;
  padding: 2px;
  color: rgb(249, 216, 77);
  margin: 0 auto 0 auto;
  text-align: center;
}

h2{
  font-family: 'Barlow Condensed', sans-serif; 
  font-size: 1.25em;
  font-weight: 200;  
  border-bottom: 12px dotted #CA3A2F;
  margin: 0 auto 0 auto;
  padding: 10px;
}

.turn{
  max-width: 70%;
  margin: 0 auto 0 auto;
}

.turn h3{
  font-size: 1.25em;
  background-color: rgb(249, 216, 77);
  border: 1px solid black;
  border-radius:40px;
  color: #CA3A2F;
  text-shadow: 1px 1px black;
  padding:  .5% 0 2% 0;
  margin: 1% auto 1% auto;
  width: auto;
  height: auto;
  overflow: hidden;
}

.gameInfo{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 12px dotted #CA3A2F;
  margin-bottom: .5%;
}

.gameInfo h4{ 
  font-size: 1em;
  border: 1px solid black;
  border-radius: 40px;
  color: #CA3A2F;
  height: auto;
  width: auto;
  text-shadow: 1px 1px black;
  background-color: rgb(249, 216, 77);
  padding: 8px 12px 5px 12px;
  margin: .5% 1.5px .5% 1.5px;
  overflow: hidden;
}

/****** To show available play squares ******/
.square:hover {
  cursor: pointer;
  background: rgb(111, 161, 0);
}

/****** To show non-available play squares ******/
.occupied {
  background-color: transparent;
  cursor: not-allowed;

}
.occupied:hover {
  background-color: #A52119;
  pointer-events: none;
  cursor: not-allowed;
}

/******styling game board section******/
.boardContainer{
  margin: none;
  background-color: white;
}

.square{
  height: 70px;
  min-width: 70px;
  background-color: #535a63;
  border: 0px transparent;

  padding: 4px;
}

.col-1{
  width: 8.33%;
}
.col-2{
  width: 16.66%;
}
.col-3{
  width: 25%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}

/****** Game Pieces ******/
.xLogo{
  background: url('../media/fryX.png');
  background-position: center;
  background-size: 50px 50px;                
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-color: #535a63;
  background-clip: border-box;
  padding: 10px;
  text-align: center;
  margin: .5%;
  z-index: 10;

}
.oLogo{
  background: url('../media/onionRingO.png');
  background-position: center;
  background-size: 50px 50px;                
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-color: #535a63;
  background-clip: border-box;
  padding: 10px;
  text-align: center;
  margin: .5%;
  z-index: 10;
}

/****** add styling to show difference in winners ******/
.xWin {
    background-color: rgb(111, 161, 0);
  }
  
  .oWin {
  background-color: #A52119;
  }
  
  .draw {
  background-color: rgb(249, 216, 77);
  }

/*icon display section*/
#iconContainer {
  background-color: black;
  margin: 2% 0 0 0;
  text-align: center;
  border: 5px solid rgb(249, 216, 77);
  border-radius: 40px;
  width: 145px;
  height: 100px;
  display: inline-flex;
  padding: none;
}
figure {
  display: inline-block;
  text-align: center;
  margin: 5px 0 3px 10px;
}
figure img{
  text-align: center;
  margin: 0 auto 0 auto;
}
#pFigImg {
  padding: 1%;
  margin-top: 5%;
}
#cFigImg {
  text-align: right;
  padding: 1%;
  margin-left: 15px;
}
#playerPic {
  width: 38px;
  height: 35px;
} 
#computerPic {
  width: 38px;
  height: 42px;
  margin-right: 10px;
}
figcaption {
  font-size: 1em;
  text-align: center;
}
#p {
  color: rgb(111, 161, 0);
  align-self: flex-end;
  margin-top: 3px;
}
#c {
  color: #CA3A2F;
  align-self: flex-end;
  margin-bottom: 3px;
}

/****** NewGame Button ******/
#reset {
  border: 3px solid #CA3A2F;
  padding: 5px 10px;
  margin: 0 auto 0 auto;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 40px;
  width: fit-content;
  background-color: rgb(249, 216, 77);
  color: #CA3A2F;
  text-shadow: 2px 1px black;
}

#reset:hover {
  cursor: pointer;
  background: #CA3A2F;
  color: rgb(249, 216, 77);
  text-shadow: 2px 2px black;
  border: 3px solid rgb(249, 216, 77);
}

/****** Center and Style Footer ******/
footer {
  margin: 2% 1% 1% 1%;
  text-align: center;
  vertical-align: center;
  padding: 1% 1% 1% 1%;
  font-size: .85em;
  clear: both;
  width: fit-content;
  border-radius: 40px;
}
#footer:link, #footer:visited{
  display: block;
  background-color: white;
  color: black;
  text-decoration: none;
}
#footer:hover, #footer:active{
  display:block;
  background-color:black;
  color:white;
}

/****** mobile first styling ******/
@media only screen and (min-width: 768px) {
  .container {
      width: 60%;
      max-height: 100%;
      padding: 0;
      margin: 0 auto 0 auto;
  }
  h1 {
      width: calc(100% - 10px);
      text-align: center;
      padding-top: 30px;
      font-size: 2em;
  }
  h2 {
      font-size: 1em;
      padding: 10px;
      width: calc(100% - 10px);
      text-align: center;
  }
  .boardContainer{
      background-color: white;
      margin: 0;
  }
  footer {
      font-size: .75em;
      overflow: hidden;
  }
  .gameInfo h4{
          font-size: 1em;
          margin: .1% 2% .25% 2%;
          padding: none;
  }
  #msg {
      font-size: 2.5em;
      margin: none;
  }
  #reset {
      font-size: 1.15em;
      margin: none;
  }
  .turn {
    font-size: .95em;
    margin: 0 auto 0 auto;
    padding: 0;
    max-width: 300px;
  }
}